$color-light-grey: #8d81ac;
$color-white: #ffffff;
$color-grey: #848e97;
$color-rose-grey: #a291a5;
$font-mon: "Montserrat", sans-serif;
$font-lato: "Lato", sans-serif;
$color-dark-grey: #333333;
$color-dark-grey1: #645766;
$color-black: #323232;
$font-size-14: 14px;
$background-grey: rgba(255, 255, 255, 0.15);
$background-black: rgba(0, 0, 0, 0.19);
$background-violet: rgba(255, 255, 255, 0.06);
$background-violet-opacity: rgba(255, 255, 255, 0.11);
$color-violet: #463048;
$color-dark-black: #000;
$background-top-black:#27262A;
