@import "_mixins";
@import "_variables";
@import "src/scss/font";

@media (min-width: 993px) {
  .people-container {
    background: #4b3b4e url("../img/background/testmonials-bg1.png") no-repeat;
    background-size: cover;
  }
  .people-heading {
    margin-top: 108px;
    color: $color-white;
    @include text-styles-montserrat;
    font-size: 48px;
  }
  .list-company {
    @include grid;
    margin: 81px 80px 0;
    grid-gap: 43px;
  }
  .list-company-item {
    color: $color-white;
    text-align: center;
  }

  .list-company-text {
    font-family: $font-lato;
    font-size: 16px;
    margin-top: 29px;
    font-style: italic;
    line-height: 24px;
  }
  .people-container-text {

    width: 887px;
    line-height: 21px;
    font-size: 14px;
    @include text-styles-lato;
    color: $color-rose-grey;
    margin-top: 40px;
  }
  .people-container-text::after {
    @include people_cont_line;
    width: 728px;
    left: calc(15% - 50px);
    margin-top: 18px;
  }
}

@media (min-width: 481px) and (max-width: 992px) {
  .people-container {
    //width: 100%;
    background-size: cover;
    background: #4b3b4e url("../img/background/testmonials-bg1.png") no-repeat;
  }
  .people-heading {
    margin-top: 86px;
    @include text-styles-montserrat;
    color: $color-white;
    font-size: 42px;
  }
  .list-company {
    @include grid1;
    margin-top: 85px;
    grid-gap: 31px;
  }
  .list-company-item {
    color: $color-white;
    text-align: center;
    @include flex-column;
    justify-content: space-between;
  }
  .list-company-text {
    font-family: $font-lato;
    line-height: 24px;
    padding: 0 3px;
    font-style: italic;
  }
  .people-container-text {
    width: 100%;
    line-height: 21px;
    font-size: 14px;
    @include text-styles-lato;
    color: $color-rose-grey;
    margin-top: 29px;
  }
  .people-container-text::after {
    @include people_cont_line;
    width: 555px;
    left: calc(15% - 50px);
    margin-top: 20px;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .people-container {
    background: #4b3b4e url("../img/background/testmonials-bg1.png");
    height: 1700px;
    @include flex-column;
    @include background-cover;
    margin-top: 0;
    padding: 0 37px;
  }
  .people-heading {
    margin-top: 57px;
    @include text-styles-montserrat;
    color: $color-white;
    font-size: 36px;
    line-height: 48px;
  }

  .list-company {
    @include flex-column;
    margin-top: 8px;
  }

  .list-company-item {
    height: 166px;
    color: $color-white;
    text-align: center;
    @include flex-column;
    justify-content: space-between;
    margin-top: 45px;
  }

  .list-company-text {
    font-size: 16px;
    font-family: $font-lato;
    line-height: 24px;
    font-style: italic;
  }

  .people-container-text {
    position: relative;
    width: 251px;
    line-height: 21px;
    font-size: 14px;
    @include text-styles-lato;
    color: $color-rose-grey;
    margin-top: 29px;
  }
  .people-container-text::after {
    @include people_cont_line;
    width: 245px;
    left: calc(20% - 51px);
    margin-top: 22px;
  }
}
