@import "mixins";
@import "reset";
@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&family=Montserrat:wght@500&display=swap");

aside {
  @include flex-wrap-center;
  padding-left: 10px;
  padding-right: 10px;
  background: url("../img/background-aside.png");
  height: 2300px;
}
main {
  @include flex-align-center;
  margin-top: 150px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  margin-bottom: 30px;
}
.aside {
  display: flex;
}
.button-content-main {
  margin-bottom: 20px;
}
.button-text {
  margin-left: 6px;
}
.buttons-main {
  @include flex-align-center;
  @include flex-wrap-center;
}
.button-link {
  font-size: 12px;
  font-weight: 700;
  color: $color-black;
  padding: 6px 10px;
  border: 1px solid #d6d6d6;
  background: #f3f3f3;
  border-right: 0;
  border-radius: 2px;
}
.button-count {
  font-size: 12px;
  font-weight: 700;
  padding: 8px 10px;
  border: 1px solid #d6d6d6;
  border-radius: 2px;
  margin-right: 15px;
  color: $color-black;
}
@media (min-width: 320px) and (max-width: 480px) {
  .heading-main {
    @include text-styles-montserrat;
    font-size: 26px;
    line-height: 28px;
    text-transform: uppercase;
    color: #635c73;
  }
  .subtitle-main {
    @include text-styles-lato;
    font-size: $font-size-14;
    line-height: 20px;
    color: $color-black;
    margin-top: 27px;
    width: 276px;
    margin-bottom: 36px;
  }
  .heading-to-description-features {
    @include text-styles-montserrat;
    font-size: 32px;
    line-height: 38px;
    color: $color-light-grey;
    margin-top: 120px;
  }
  .heading-to-description-features::before {
    content: "<";
    color:  $color-light-grey;
  }
  .heading-to-description-features::after {
    content: ">";
    color:  $color-light-grey;
  }
  .features-main {
    @include flex-wrap-center;
    text-align: center;
  }
  .content-features-main img {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .content-features-main h3 {
    @include text-styles-montserrat;
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 16px;
    color: $color-black;
  }
  .content-features-main p {
    @include text-styles-lato;
    font-size: $font-size-14;
    line-height: 21px;
    width: 269px;
    color: $color-grey;
  }
  .heading-aside {
    @include text-styles-montserrat;
    font-size: 28px;
    line-height: 42px;
    color: $color-white;
    margin-bottom: 32px;
    width: 320px;
  }
  .content-blocks-aside {
    @include flex-wrap-center;
    text-align: center;
  }
  .content-blocks-aside h3 {
    @include flex-align-center;
    @include text-styles-montserrat;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    justify-content: center;
    text-transform: uppercase;
    color: $color-white;
    background: $background-violet;
    height: 97px;
    mix-blend-mode: normal;
  }
  .content-blocks-aside p {
    @include text-styles-montserrat;
    font-size: 60px;
    line-height: 62px;
    text-transform: uppercase;
    color: $color-white;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .warp-block-aside {
    background: $background-violet-opacity;
    mix-blend-mode: normal;
    height: 360px;
  }
  .content-blocks-aside span {
    @include text-styles-montserrat;
    font-size: $font-size-14;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-white;
    @include flex-align-center;
    flex-direction: column;
  }
  .warp-block-aside span::after {
    content: "";
    width: 60px;
    height: 5px;
    margin-top: 35px;
    margin-bottom: 32px;
    background:  $color-light-grey;
  }
  .content-blocks-aside div {
    @include text-styles-montserrat;
    font-size: 16px;
    line-height: 28px;
    color: $color-white;
    padding-bottom: 20px;
    width: 257px;
    font-weight: normal;
  }
  .content-blocks-aside button {
    @include text-styles-montserrat;
    background: $color-dark-black;
    mix-blend-mode: normal;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    width: 163px;
    height: 45px;
    color: $color-white;
    background: $background-grey;
    mix-blend-mode: normal;
    border-radius: 40px;
  }
  .darkened h3 {
    background: $background-black;
    mix-blend-mode: normal;
  }
  .warp-block-aside-darkened {
    @include flex-column-wrap;
    background: $color-violet;
    height: 560px;
    mix-blend-mode: normal;
    opacity: 0.84;
    width: 299px;
    @include flex-align-center;
    align-content: center;
    justify-content: space-around;
    
    min-width: 299px;
  }
  .warp-block-aside-darkened p {
    font-size: 82px;
    line-height: 84px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .warp-block-aside-darkened div {
    line-height: 32px;
    padding-bottom: 0px;
  }
  .warp-block-aside-darkened button {
    width: 190px;
    height: 52px;
    font-size: 16px;
    line-height: 18px;
  }
  .content-blocks-aside .darkened {
    padding-bottom: 10px;
    width: 299px;
    height: 560px;
    margin-bottom: 100px;
  }
}
.content-blocks-aside:nth-child(3) {
  padding-bottom: 0px;
}
.image-content-main {
  display: flex;
  justify-content: flex-end;
}
.image-content-features-main {
  background: url(../img/editor2.jpg);
  width: 317px;
  height: 381px;
}
.location-image-content-features-main {
  display: flex;
  justify-content: flex-end;
}

@media (min-width: 481px) and (max-width: 992px) {
  .heading-main {
    @include text-styles-montserrat;
    font-size: 42px;
    line-height: 42px;
    text-transform: uppercase;
    color: #635c73;
  }
  .subtitle-main {
    @include text-styles-lato;
    font-size: 21px;
    line-height: 32px;
    color: $color-black;
    margin-top: 27px;
    width: 689px;
    margin-bottom: 24px;
  }
  .heading-to-description-features {
    @include text-styles-montserrat;
    font-size: 42px;
    line-height: 44px;
    color:  $color-light-grey;
    margin-top: 159px;
  }
  .heading-to-description-features::before {
    content: "<";
    color:  $color-light-grey;
  }
  .heading-to-description-features::after {
    content: ">";
    color:  $color-light-grey;
  }
  .features-main {
    @include flex-wrap-center;
    text-align: center;
    margin-left: 30px;
    margin-top: 50px;
  }
  .text-content-features-main {
    text-align: start;
    display: flex;
    flex-direction: column;
  }
  .content-features-main {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 61px;
  }
  .content-features-main img {
    margin-right: 20px;
    max-width: 100px;
  }
  .content-features-main h3 {
    @include text-styles-montserrat;
    font-size: 16px;
    font-weight: normal;
    text-align: start;
    line-height: 21px;
    color: $color-black;
  }
  .content-features-main p {
    @include text-styles-montserrat;
    font-size: $font-size-14;
    font-weight: normal;
    text-align: start;
    line-height: 21px;
    width: 582px;
    color: $color-grey;
  }
  .content-blocks-aside button {
    @include text-styles-montserrat;
    background: $color-dark-black;
    mix-blend-mode: normal;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    width: 163px;
    height: 45px;
    color: $color-white;
    background: $background-grey;
    mix-blend-mode: normal;
    border-radius: 40px;
  }
  .heading-aside {
    @include text-styles-montserrat;
    font-size: 42px;
    line-height: 44px;
    color: $color-white;
    margin-bottom: 32px;
    width: 562px;
    height: 41px;
    margin-top: 90px;
  }
  .content-blocks-aside {
    text-align: center;
    @include flex-wrap-center;
  }
  .content-blocks-aside div {
    @include text-styles-montserrat;
    font-size: 16px;
    line-height: 18px;
    color: $color-white;
    padding-bottom: 20px;
    width: 257px;
    margin-right: 25px;
  }
  .content-blocks-aside h3 {
    @include flex-align-center;
    @include text-styles-montserrat;
    font-size: 24px;
    line-height: 24px;
    justify-content: center;
    text-transform: uppercase;
    color: $color-white;
    background: $background-violet ;
    height: 97px;
    mix-blend-mode: normal;
  }
  .content-blocks-aside p {
    @include text-styles-montserrat;
    font-size: 60px;
    line-height: 62px;
    text-transform: uppercase;
    color: $color-white;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .warp-block-aside div {
    font-weight: normal;
    padding-bottom: 36px;
    padding-top: 40px;
  }
  .warp-block-aside span::after {
    content: "";
    width: 60px;
    height: 5px;
    margin-top: 35px;
    background:  $color-light-grey;
  }
  aside {
    background: url("../img/background-aside.png");
    height: 1319px;
  }
  .darkened h3 {
    background: rgb(0,0,0,.19);
    mix-blend-mode: normal;
  }
  .warp-block-aside {
    background: $background-violet-opacity;
    mix-blend-mode: normal;
    height: 360px;
  }
  .image-content-main {
    display: flex;
    justify-content: center;
  }
  .content-blocks-aside span {
    @include text-styles-montserrat;
    font-size: $font-size-14;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-white;
    @include flex-align-center;
    flex-direction: column;
  }
  .warp-block-aside-darkened {
    @include flex-column-wrap;
    background : $color-violet;
    height: 500px;
    mix-blend-mode: normal;
    opacity: 0.84;
    @include flex-align-center;
    align-content: center;
    justify-content: space-around;
    min-width: 299px;
    height: 400px;
  }
  .warp-block-aside-darkened p {
    font-size: 82px;
    line-height: 84px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .warp-block-aside-darkened div {
    line-height: 32px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .warp-block-aside-darkened button {
    width: 190px;
    height: 52px;
    font-size: 16px;
    line-height: 18px;
  }
  .content-blocks-aside .darkened {
    padding-bottom: 10px;
    width: 299px;
    height: 500px;
  }
  .image-content-features-main {
    background: url(../img/editor.jpg);
    width: 700px;
    height: 519px;
  }
}

@media (min-width: 993px) {
  .heading-main {
    @include text-styles-montserrat;
    font-size: 54px;
    line-height: 54px;
    text-transform: uppercase;
    color: #635c73;
  }
  .subtitle-main {
    @include text-styles-lato;
    font-size: 21px;
    line-height: 32px;
    color: $color-black;
    margin-top: 27px;
    width: 689px;
    margin-bottom: 13px;
  }
  .heading-to-description-features {
    position: absolute;
    @include text-styles-montserrat;
    font-size: 48px;
    color:  $color-light-grey;
    margin-top: 210px;
    left: 550px;
    width: 612px;
    top: 0px;
    margin-top: 15px;
  }
  .heading-to-description-features::before {
    content: "<";
    color:  $color-light-grey;
  }
  .heading-to-description-features::after {
    content: ">";
    color:  $color-light-grey;
  }
  .features-main {
    @include flex-wrap-center;
    text-align: center;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 50px;
  }
  .text-content-features-main {
    text-align: start;
    display: flex;
    flex-direction: column;
  }
  .content-features-main {
    display: flex;
    margin-bottom: 35px;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  .content-features-main img {
    margin-right: 30px;
    max-width: 100px;
  }
  .content-features-main h3 {
    @include text-styles-montserrat;
    font-size: 16px;
    font-weight: normal;
    text-align: start;
    line-height: 21px;
    color: $color-black;
  }
  .content-features-main p {
    @include text-styles-lato;
    font-size: $font-size-14;
    font-weight: normal;
    text-align: start;
    line-height: 21px;
    width: 563px;
    color: $color-grey;
    height: 77px;
    width: 350px;
  }
  .heading-to-description-features-desktop {
    @include flex-align-center;
    flex-wrap: nowrap;
    align-items: flex-end;
    position: relative;
  }
  .heading-aside {
    @include text-styles-montserrat;
    font-size: 42px;
    line-height: 44px;
    color: $color-white;
    margin-bottom: 61px;
    width: 562px;
    height: 41px;
    margin-top: 0px;
  }
  .content-blocks-aside {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .features-main {
    margin-left: 0px;
  }
  aside {
    display: flex;
    background: url("../img/background-aside.png");
    height: 747px;
    flex-direction: column;
    align-items: center;
  }
  .content-blocks-aside h3 {
    @include text-styles-montserrat;
    @include flex-align-center;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    justify-content: center;
    text-transform: uppercase;
    color: $color-white;
    background: $background-violet;
    height: 110px;
    mix-blend-mode: normal;
  }
  .content-blocks-aside p {
    @include text-styles-montserrat;
    font-size: 60px;
    line-height: 62px;
    text-transform: uppercase;
    color: $color-white;
    padding-top: 30px;
    padding-bottom: 20px;
  }
  .image-content-features-main {
    background: url(../img/editor.jpg);
    width: 700px;
    height: 519px;
  }
  .warp-block-aside {
    background: $background-violet-opacity;
    mix-blend-mode: normal;
    height: 360px;
  }
  .content-blocks-aside span {
    @include flex-align-center;
    @include text-styles-montserrat;
    font-size: $font-size-14;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-white;
    font-weight: normal;
    flex-direction: column;
  }
  .warp-block-aside span::after {
    content: "";
    width: 60px;
    height: 5px;
    margin-top: 35px;
    background:  $color-light-grey;
  }
  .content-blocks-aside div {
    @include text-styles-montserrat;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: $color-white;
    padding-bottom: 20px;
    width: 257px;
    margin-right: 25px;
    padding-top: 30px;
  }
  .content-blocks-aside button {
    @include text-styles-montserrat;
    background: $color-dark-black;
    mix-blend-mode: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    text-transform: uppercase;
    width: 163px;
    height: 45px;
    color: $color-white;
    background: $background-grey;
    mix-blend-mode: normal;
    border-radius: 40px;
  }
  .darkened h3 {
    background: $background-black;
    mix-blend-mode: normal;
  }
  .warp-block-aside-darkened {
    @include flex-align-center;
    @include flex-column-wrap;
    background: $color-violet;
    height: 400px;
    mix-blend-mode: normal;
    opacity: 0.84;
    align-content: center;
    justify-content: space-around;
    min-width: 299px;
  }
  .warp-block-aside-darkened p {
    font-size: 82px;
    line-height: 84px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .warp-block-aside-darkened div {
    line-height: 32px;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .warp-block-aside-darkened button {
    width: 190px;
    height: 52px;
    font-size: 16px;
    line-height: 18px;
  }
  .content-blocks-aside .darkened {
    padding-bottom: 10px;
    width: 299px;
    height: 600px;
    margin-right: 15px;
  }
}